<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio">Vinoteca</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['inicio']">Inicio</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vinos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['listavinos']">Ver todos</a></li>
              <li><a class="dropdown-item" [routerLink]="['crearvino']">Crear nuevo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" [routerLink]="['contacto']">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input name="searchWine" id="searchWine" class="form-control me-2" type="search" placeholder="Buscar vinos"
                 aria-label="Search" [(ngModel)]="searchParam" (keyup.enter)="searchWines()">
          <button class="btn btn-outline-primary" type="button" (click)="searchWines()">Buscar</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" id="navbarLoginDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span *ngIf="!loginService.isLogged">Entrar o registrarse</span>
              <span *ngIf="loginService.isLogged">Bienvenido {{loginService.userName}}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLoginDropdownMenuLink">
              <li *ngIf="!loginService.isLogged"><a class="dropdown-item" routerLinkActive="active" [routerLink]="['login']">Loguearse</a></li>
              <li *ngIf="!loginService.isLogged"><a class="dropdown-item" routerLinkActive="active" [routerLink]="['‘registro’']">Registrarse</a></li>
              <li *ngIf="loginService.isLogged"><a class="dropdown-item" (click)="logout()">Desloguearse</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

