<page-title [title]="'Contacto vinoteca'"></page-title>
<div class="row">
  <p>Vinoteca.es es propiedad de Delicommerce S.L., principal distribuidora en España de la prestigiosas marcas de vinotecas La Sommelière, Cavist, Cavanova, Vinobox, Cavevinum, Dometic, Liebherr, Caso, Innobar, Koenig, Caveduke, con venta al por mayor y minorista.
    En Vinoteca.es ofrecemos solo las mejores vinotecas de las mejores marcas. Más de 40.000 clientes satisfechos desde 2009 nos avalan.
    Vinoteca.es es el comercio nº1 en unidades vendidas a través de internet. Somos expertos en vinotecas, por lo que le ofrecemos una atención al cliente, entrega de productos y servicio post venta totalmente especializado, que difícilmente podrá encontrar en otro comercio online. Tenemos algunos imitadores pero solo Vinoteca.es es Vinoteca.es.</p>
  <p>Para Vinobox una de las metas esenciales es ofrecer un producto ecológico de calidad constante. Para llevar a cabo este objetivo algunos elementos de su política de calidad son:

    - Uso de materias y gases conforme a las legislaciones más rigurosas.

    - Controles exhaustivos del 100 % de los Vinobox fabricados. Cada uno es testado individualmente antes de la comercialización.

    - Cuidado extremo en todas las manipulaciones y transporte.

    - Cada uno de los proveedores posee certificado ISO.

    - Homologación de todos los modelos.

    Aun así, en caso de avería, cada Vinobox tiene dos años de garantía para los particulares y un año para los profesionales a través del servicio oficial de post venta de Vinobox España.</p>
</div>
