<page-title [title]="wine.nombre | uppercase" [detail]="wine.precio | currency:'EUR'"></page-title>

<ngx-spinner size = "medium" type="ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>

<error *ngIf="errors.length > 0" [errors]="errors"></error>

<div *ngIf="errors.length == 0" class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../assets/img/{{wine.imagen}}" class="card-img mb-4"
           (error)="handleMissingImage($event)">
      <button type="button" class="btn btn-outline-danger full-large" (click)="redirectToBack()">Volver</button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{wine.descripcion}}</p>
        <p class="card-text">Uva: {{wine.uvas}}</p>
        <p class="card-text">País: {{wine.pais}}</p>
        <p class="card-text">Año: {{wine.anyo}}</p>
        <p class="card-text">Región: {{wine.region}}</p>
      </div>
    </div>
  </div>
</div>
